// COLORS
$color-primary: #3c809a;
$color-primary-light: #6a89ac;
$color-primary-dark: #1a4557;

$color-secondary: #bb5b35;
$color-secondary-light: #e6a93e;
$color-secondary-dark: #643724;

$color-tan: #f2d39e;
$color-tan-light: #faeed8;
$color-tan-dark: #e6a93e;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #dddddd;

$color-grey: #999;
$color-grey-dark: #777;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$myDefaultFont: 'myDefaultFont', 'Lucida Sans Unicode', 'Lucida Sans', 'Geneva';

$myBoldFont: 'myBoldFont', 'Lucida Sans Unicode', 'Lucida Sans', 'Geneva';

$myBoldOblique: 'myBoldOblique', 'Lucida Sans Unicode', 'Lucida Sans', 'Geneva';

$myLightFont: 'myLightFont', 'Lucida Sans Unicode', 'Lucida Sans', 'Geneva';

$myObliqueFont: 'myObliqueFont', 'Lucida Sans Unicode', 'Lucida Sans', 'Geneva';

$myRoundedBoldFont: 'myRoundedBoldFont', 'Lucida Sans Unicode', 'Lucida Sans',
  'Geneva';
