.secondaryTopbar {
  width: 100%;
  height: 70px;
  position: relative;
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 3px 3px 3px #777;
  @include respond(small-tab-port) {
    height: auto;
  }
}

.secondaryTopbar__inner {
  width: 100%;
  max-width: 1200px;
  height: 70px;
  display: flex;
  @include respond(small-tab-port) {
    flex-direction: column;
    height: auto;
  }
}

.secondaryTopbar__inner__logo {
  width: 25%;
  margin-left: 45px;
  @include respond(small-tab-port) {
    width: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.secondaryTopbar__inner__logo a {
  width: 80%;
  @include respond(small-tab-port) {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.secondaryTopbar__inner__nav__ul {
  padding: 0;
  width: 100%;
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: space-between;
  margin: 0px 0px 0px auto;
  text-transform: uppercase;
  text-align: center;
  @include respond(big-desktop) {
    height: 70px;
  }
  @include respond(small-tab-port) {
    flex-direction: column;
    height: auto;
  }
}

.secondaryTopbar__inner__nav__ul-li a {
  text-decoration: none;
  color: #000;
  display: block;
  padding: 17px 24px 17px 24px;
  &:hover {
    text-decoration: underline;
  }
}

.topbar__inner__logo-img {
  height: 90%;
  border: 0;
  margin: 2px 0px;
  @include respond(small-tab-port) {
    width: 80%;
    height: auto;
  }
}

.secondaryTopbar__inner__nav {
  width: 65%;
  height: 70px;
  transition: all 0.5s;
  @include respond(small-tab-port) {
    width: 100%;
    height: auto;
    font-size: 2rem;
    margin-top: 15px;
  }
}

.secondaryTopbar__inner__nav__ul-li {
  height: auto;
  position: relative;
}

@media only screen and (max-width: 1920px) {
  .secondaryTopbar__inner__nav__ul-li a {
    padding: 11px 24px 17px 24px;
  }
}

.secondaryTopbar__inner__search {
  content: '';
  width: 25px;
  height: 25px;
  margin: 15px 0 0 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.8s;
  color: #fff;
  background-image: url('./images/search-icon.svg');
  background-repeat: no-repeat;
}

.multilevel-linkul-0 {
  position: absolute;
  z-index: 10000;
  left: 0;
  padding: 0;
  margin: 0;
  background-color: #fff;
  color: #000;
  list-style: none;
  display: none;
  line-height: 18px;
  box-shadow: 2px 2px 5px #777;
  text-align: left;
  transition: all 0.5s;
}

.multilevel-linkul-0 li {
  position: relative;
}

.multilevel-linkul-1 {
  position: absolute;
  z-index: 100;
  width: 11em;
  left: 100%;
  top: 0px;
  padding: 0;
  margin: 0;
  background-color: #fff;
  color: #000;
  list-style: none;
  display: none;
  box-shadow: 2px 2px 5px #777;
}

.secondaryTopbar__inner__nav__ul-li ul li a {
  display: block;
  width: 100%;
  color: #000;
  background-color: #fff;
  text-decoration: none;
  padding: 16px;
  text-transform: uppercase;
}

.mobilTopBar {
  width: 100%;
  display: none;
}

.mobilTopBar__logo {
  width: 30%;
  padding: 1.5em 0 0 1.5em;
}

.mobilTopBar__logo-link img {
  width: 100%;
}

.mobilTopBar__menuToggle {
  padding: 36px 75px 36px 36px;
  display: flex;
  margin-left: auto;
  font-size: 1.5em;
  font-weight: 700;
  border: none;
  color: #000;
  background-color: #fff;
  transition: all 0.8s;
}

.mobilTopBar__menuToggle img {
  width: 0.75em;
  height: 0.75em;
  margin: 0.2em 0.2em 0.5em 0.5em;
}

.mobil {
  width: 95%;
  margin: 0 1.5em 1.5em;
  transition: all 0.5s;
  box-shadow: 1px 1px 1px #999;
  display: none;
}

@media only screen and (min-width: 1120px) {
  .mobil {
    display: none !important;
  }
}

.mobil__ul {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #222222;
}

.mobil .mobil__ul li {
  width: 100%;
  height: auto;
  position: relative;
  background-color: #222222;
}

.mobil__ul-li a {
  display: inline-block;
  font-size: 20px;
  text-align: left;
  padding: 15px;
  text-decoration: none;
  background-color: #222222;
  color: #fff;
  position: relative;
}
